<div class="d-flex flex-column mt-5 align-items-center rounded w-75">
  <div class="d-flex justify-content-evenly callToAction">
    <div class="w-25 bg-primary rounded-start-2 d-flex justify-content-center align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-chat-fill" viewBox="0 0 16 16">
        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
      </svg>
    </div>
    <div class="w-auto p-3 m-3 d-flex flex-column justify-content-center align-items-center">
      <h4 class="fs-6 mb-4">
        I would love to hear the ideas you have for your business and clients, and I look forward to the opportunity to provide a meaningful solution that fits your needs!
      </h4>

      <form class="d-flex flex-column w-100 align-self-start">
        <div class="mb-2">
          <label for="name" class="form-label">Your name</label>
          <input type="text" class="form-control" id="name" aria-label="name">
        </div>
        <div class="mb-2">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-label="email">
        </div>
        <div class="mb-2">
          <label for="message" class="form-label">Message</label>
          <textarea type="text" rows="3" class="form-control" id="message" aria-label="message"></textarea>
        </div>
        <button class="rounded-2 btn btn-primary mt-3" type="submit">Let's Talk</button>
      </form>
    </div>
  </div>
</div>