
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

:root {
  scroll-behavior: smooth;
  
}

// Elements
.layout {
  div {
    min-width: 15.625rem;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media-breakpoint-up(sm) {
    display: grid;
    width: auto;
    background-color: #f8f8f8;
    grid-template-columns: 7rem auto;
    column-gap: 3rem;
    justify-content: flex-start;
  }
  
  @include media-breakpoint-up(lg) {
    grid-template-columns: 10rem auto;
  }

  .headerDivider {
    width: 50%;

    @include media-breakpoint-up(sm) {
      width: 25%;
    }
  }
}

.mainContent {
  padding-left: 1rem;
  padding-right: 1rem;
}

