@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.blogCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, 0.12);
  height: auto;
  width: 100%;
  
  img {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    height: auto;
    display: grid;
    grid-template-columns: 10rem auto;
    box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, 0.12);
  }
}

.btn {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
  }

  @include media-breakpoint-up(md) {
    align-self: flex-end!important;
  }
}

.projects {
  display: grid;
  grid-template-columns: auto;
  column-gap: 2rem;
  row-gap: 1rem;
  padding-right: 1rem;
  
  @include media-breakpoint-up(md) {
    padding-right: 4rem;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr;
  }
}
